body {
  background-color: lightslategray;
}

nav {
  background-color: rgb(1, 85, 130);
  box-shadow: 4px 4px 2px rgb(35, 57, 75);
}

h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

form button {
  height: 40px;
  width: 220px;
  border: none;
  margin-left: 3%;
  border-radius: 10px;
  background-color: rgb(1, 85, 130);
  font-weight: 600;
  font-size: 18px;
  color: white;
  box-shadow: 2px 5px 2px black;
}

.container button {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: rgb(1, 85, 130);
  font-weight: 600;
  font-size: 18px;
  color: white;
  box-shadow: 2px 5px 2px black;
}

form button:hover {
  background-color: green;
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: sans-serif;
  margin: 10px 0;
  width: 100%;
}

.container h2 {
  margin: 0 5%;
}

.container button:hover {
  background-color: rgb(196, 4, 4);
}

#book-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 10%;
}

section {
  display: none;
}

form label input {
  display: hidden;
  padding: 2%;
  flex-direction: column;
  width: 320px;
  border: none;
  margin: 4%;
  border-radius: 10px;
  height: 30px;
}

.display-section {
  display: flex;
  border: 1px solid red;
}
